:root {
    --fontMain: sans-serif;
    --fontHeader: sans-serif;

    --mainColor: #050985;
    --accentColor: #3333aa;

    --fontSizeStandard: 1rem;

    --marginSmall: 0.5rem;

    --marginSmall: 0.5rem;
    --marginStandard: 1rem;
    --paddingSmall: 0.5rem;
    --paddingStandard: 1rem;
}