@import '_variables.css';
* {
    margin: 0;
    padding: 0;
}

body {
    header{
        font-family: var(--fontHeader);
        background-color: #050985;
        color:white;
        text-align: center;
        padding: var(--paddingStandard);
    }
    section > form#cdForm{
        width: 18rem; 
        margin: 0 auto;
    }
    section > form#cdForm > div {
        display: flex;
        align-items: center;
        input {
            flex: 1;
            margin: var(--marginStandard);
            padding: 0.6rem; 
        }
        label {
            width: 6rem; 
        }
        button#addButton {
            margin-top: var(--marginSmall);
            padding:var(--paddingStandard);
            width: 18rem; 
            background-color: var(--mainColor);
            color: white;
            border: none;
            border-radius: 5px;
            font-size: var(--fontSizeStandard);
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }
        button#addButton:hover {
            background-color: var(--accentColor);
            }
        }
        table#cdList{
            width: 100%;
            margin-top: 2rem;
            thead th{
                background-color: var(--mainColor);
                color: white;
                padding: var(--paddingSmall);
                text-align: left;
            }
            thead {
                th:nth-child(1), tbody td:nth-child(1) { width: 33%; } 
                th:nth-child(2), tbody td:nth-child(2) { width: 33%; } 
                th:nth-child(3), tbody td:nth-child(3) { width: 33%; } 
                th:nth-child(4), tbody td:nth-child(4) { width: 1%; }
        }
            tbody tr button {
                padding:var(--paddingSmall) var(--paddingStandard);
                background-color: var(--mainColor);
                color: white;
                border: none;
                border-radius: 5px;
                font-size: var(--fontSizeStandard);
                cursor: pointer;
                transition: background-color 0.3s ease, transform 0.2s ease;
            }     

        }
    }
